# Codeowners for Antigravity-Manager
# Maintained by Alim (devorg.bd@gmail.com, @aukgit, @alimtvnetwork)

*                                   @alimtvnetwork @aukgit
/src-tauri/                         @alimtvnetwork @aukgit
/src/                               @alimtvnetwork @aukgit
/scripts/                           @alimtvnetwork @aukgit
/docs/                              @alimtvnetwork @aukgit
/.github/                           @alimtvnetwork @aukgit
